<button class="btn btn-outline-secondary shadow-lg text-light" (click)="openMain(content); resetForm()">Добавить программу</button>

<ng-template #content let-modal>
  <app-loader *ngIf="isLoading">
  </app-loader>
  <div class="bg-dark text-light">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-create-title" style="text-align:center">Добавление программы</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form class="p-3 text-center" [formGroup]="createForm">
        <div class="form-group">
          <label>Заголовок</label>
          <input type="text"
                 class="form-control"
                 id="title-create-training-form-field"
                 required
                 formControlName="title"
                 name="title-field"
                 placeholder="Четырехдневный сплит" />
          <div *ngIf="createForm.get('title')?.hasError('required') && submittedClick"
               class="alert alert-danger mt-2">
            Поле обязательно для заполнения
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Описание</label>
          <textarea type="text"
                    class="form-control"
                    id="description-create-training-form-field"
                    formControlName="description"
                    name="description-field"
                    placeholder="Выполняется по системе 2+1+2+2...."></textarea>
        </div>
        <div class="d-inline-flex col-12">
          <div class="form-group col-5">
            <label for="start-time-create-training-form-field">Начало</label>
            <input type="datetime-local"
                   class="form-control"
                   id="start-time-create-training-form-field"
                   required
                   [(ngModel)]="startEventTime"
                   [ngModelOptions]="{standalone: true}"
                   name="start-time-field" />
          </div>
          <div class="form-group col-3 ms-2">
            <label for="interval-time-create-training-form-field">Интервал</label>
            <select
                   class="form-select"
                   id="interval-time-create-training-form-field"
                   required
                   [(ngModel)]="eventInterval"
                   [ngModelOptions]="{standalone: true}"
                   name="interval-time-field">
              <option *ngFor="let interval of eventIntervalSet" [value]="interval.hour">{{ interval.label }}</option>
            </select>
        </div>
        </div>
        <div class="form-group mt-2" formArrayName="weeks">
          <div *ngIf="weeks.length > 0">
            <label for="weeks-create-training-form-field">Недели</label>
          </div>
          <div *ngFor="let week of weeks.controls; let i=index" class="d-inline-flex col-6">
            <div [formGroupName]="i">
              <div class="d-inline-flex mt-2">
                <div class="mx-2">
                  <input type="number"
                         class="form-control"
                         id="weeks-create-training-form-field"
                         required
                         formControlName="weekNumber"
                         name="weeks-field"
                         min="0"
                         readonly />
                </div>
                <button class="btn btn-outline-primary me-1" (click)="openDays(addDays)">+</button>
                <button class="btn btn-outline-danger" (click)="removeWeek(i)"><i class="bi bi-trash"></i></button>
                <ng-template #addDays let-modal>
                  <div class="bg-dark text-light">
                    <div class="modal-header">
                      <h3 class="modal-title" id="modal-create-title" style="text-align:center">Добавление тренировок</h3>
                      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
                    </div>
                    <div class="modal-body" formArrayName="events">
                      <div *ngFor="let event of getEventsControls(i); let j=index">
                        <div [formGroupName]="j">
                          <div class="border border rounded p-3 mt-2">
                            <div class="text-center">
                              <label>Тренировка {{ j + 1 }}</label>
                            </div>
                            <div class="form-group">
                              <label for="title-create-training-form-field">Название</label>
                              <input type="text"
                                     class="form-control"
                                     id="title-create-training-form-field"
                                     required
                                     formControlName="title"
                                     name="title-field"
                                     maxlength="100"
                                     placeholder="День ног" />
                            </div>
                            <div class="form-group col-12 me-2">
                              <label for="description-create-training-form-field">Описание</label>
                              <textarea type="text"
                                        class="form-control"
                                        id="description-create-training-form-field"
                                        formControlName="description"
                                        name="description-field"
                                        maxlength="1000"
                                        placeholder="Обязательно увеличить вес..."></textarea>
                            </div>
                            <div class="form-group mt-2" formArrayName="exercises">
                              <div class="col-12 d-inline-flex" *ngIf="getExercisesFormArray(i, j).length > 0">
                                <div class="col-5 ">
                                  <label for="title-exercise-create-training-form-field">Упражнение</label>
                                </div>
                                <div class="col-2 ms-3">
                                  <label for="quantity-approaches-create-training-form-field">Подходы</label>
                                </div>
                                <div class="col-2">
                                  <label for="quantity-repetions-create-training-form-field">Повт-ия</label>
                                </div>
                                <div class="col-2">
                                  <label for="weight-create-training-form-field">Вес</label>
                                </div>
                              </div>
                              <div *ngFor="let exercise of getExercisesControls(i,j); let k=index">
                                <div [formGroupName]="k">
                                  <div class="col-12 d-inline-flex mx-auto mt-2">
                                    <div class="col-5 text-center">
                                      <input type="text"
                                             class="form-control"
                                             id="title-exercise-create-training-form-field"
                                             required
                                             #insertTitleBar
                                             (focus)="inputFocused(k)"
                                             (blur)="outFocused(k)"
                                             (keyup)="enterKeyUp(insertTitleBar.value, k)"
                                             formControlName="title"
                                             name="title-exercise-field"
                                             placeholder="Становая тяга"
                                             autocomplete="off"/>
                                      <div class="exercise-drop-down rounded mt-1" *ngIf="isFocusedExerciseFieldList[k]">
                                        <div *ngFor="let value of filterListValue[k]">
                                          <div class="col-12 border d-inline-flex" (click)="getExercisesFormArray(i, j).at(k).get('title')?.setValue(value);" style="cursor: pointer; align-items: center">
                                            <img [src]="value.image" width="80" height="80" />
                                            <span class="col-8 text-dark exercise-dropdown-item-title" style="white-space: pre-line; word-wrap: break-word;">
                                              {{ value.title }}
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-2 mx-1">
                                      <input type="number"
                                             class="form-control"
                                             id="quantity-approaches-create-training-form-field"
                                             required
                                             formControlName="quantityApproaches"
                                             name="quantity-approaches-field"
                                             min="0" />
                                    </div>
                                    <div class="col-2 me-1">
                                      <input type="number"
                                             class="form-control"
                                             id="quantity-repetions-create-training-form-field"
                                             required
                                             formControlName="quantityRepetions"
                                             name="quantity-repetions-field"
                                             min="0" />
                                    </div>
                                    <div class="col-2 me-1">
                                      <input type="number"
                                             class="form-control"
                                             id="weight-create-training-form-field"
                                             required
                                             formControlName="weight"
                                             name="weight-field"
                                             step="0.1"
                                             min="0" />
                                    </div>
                                    <div>
                                      <button class="btn btn-outline-danger" (click)="removeExercisesField(i,j,k)"><i class="bi bi-trash"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <button class="w-100 btn btn-outline-secondary mt-2 mx-auto text-light" (click)="addExecise(i,j)">Добавить упражнение</button>
                              </div>
                            </div>
                            <div class="col-12">
                              <button class="btn btn-outline-danger mt-2 mx-auto text-light" (click)="removeEvent(i,j)">Удалить</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button *ngIf="getEventsControls(i).length < 7" class="btn btn-outline-secondary mt-2 text-light" (click)="addEvent(i)">Добавить тренировку</button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="w-100 btn btn-outline-secondary mt-2 mx-auto text-light" (click)="addWeeks()">Добавить Неделю</button>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <div class="d-inline-flex mt-3 col-12 text-light">
            <button type="submit" class="w-100 btn btn-outline-success text-light me-2" (click)="create(); submittedClick=true">Добавить</button>
            <button type="button" class="w-100 btn btn-outline-danger text-light" (click)="modal.dismiss()">Отменить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<app-error-modal #errorModal></app-error-modal>
