/* You can add global styles to this file, and also import other style files */
:root {
  --fc-border-color: #b5b5b5  ;
  --fc-daygrid-event-dot-width: 5px;
}


.fc-daygrid-day-number{
  color: white;
}


.fc-col-header-cell-cushion {
  color: white;
}

.fc-toolbar-title {
    color: white  ;
}

.fc a {
  text-decoration-line: none;
}



.exercise-drop-down {
  position: relative;
  background-color: white;
}

.exercise-dropdown-icon {
  transform: translateX(50%);
  right: 80px;
}

.exercise-dropdown-title {
  transform: translateY(25%);
  right: 80px;
}

.body{
    z-index: 1000 !important;
}
