<a class="btn text-light" (click)="open(content)">Сбросить пароль</a>

<ng-template #content let-modal>
  <app-loader *ngIf="isLoading">
  </app-loader>
  <div class="bg-dark text-light">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-forgot-password-title">Сброс пароля</h3>
      <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form class="p-3 text-light text-center" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div *ngIf="getErrorMessage" class="alert alert-danger">
          <ul style="list-style:none;">
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group mt-2">
          <label for="email">Почта</label>
          <input type="text"
                  class="form-control"
                  id="email"
                  required
                  formControlName="email"
                  name="email-field"
                  placeholder="example@mail.ru" />
          <div *ngIf="forgotPasswordForm.invalid && submittedClick">
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
                  class="alert alert-danger mt-2">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')"
                  class="alert alert-danger mt-2">
              Введите почту в формате example&#64;mail.ru
            </div>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <div class="d-inline-flex mt-3 col-12 text-light">
            <button type="submit" class="w-100 btn btn-outline-success text-light me-2" (click)="submittedClick=true">Сбросить пароль</button>
            <button type="button" class="w-100 btn btn-outline-danger" (click)="modal.dismiss()">Отменить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
