
  <nav class="navbar navbar-expand fixed-top navbar-custom" *ngIf="isLoggedIn">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Календарь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Тренировки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/programs/list">Программы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/body-measure/details-body-measure">Показатели</a>
        </li>
      </ul>
      <div class="mx-5" ngbDropdown id="drop-down">
        <a class="btn" id="profile-dropdown"
                ngbDropdownToggle>
          {{ login }}
        </a>
        <div class="drop-down-menu" ngbDropdownMenu="profile-dropdown">
            <a class="btn" routerLink="/account/change-user-password">Изменить пароль</a>
            <a class="btn" (click)="logout()">Выйти</a>
        </div>
      </div>
    </div>
  </nav>


