b { /* used for event dates/times */
  margin-right: 4px;

}

i {
  display: inline-flex;
  overflow: hidden; /* Hide content that overflows */
  max-width: 6em; /* Set the maximum width for the cell content */
}

#fullcalendar, .create-event-button {

  border-color: transparent !important;
}




