b { /* used for event dates/times */
  margin-right: 4px;

}

i {
  display: block;
  white-space: nowrap; /* Prevent wrapping of text */
  overflow: hidden; /* Hide content that overflows */
  text-overflow: ellipsis; /* Add ellipsis (...) at the end */
  max-width: 180px; /* Set the maximum width for the cell content */
}

#fullcalendar, .create-event-button {
  border-color: transparent !important;
}






