<button class="btn btn-outline-danger shadow" (click)="open(content)"><i class="bi bi-trash"></i></button>

<ng-template #content let-modal>
  <app-loader *ngIf="isLoading">
  </app-loader>
  <div class="bg-dark text-light">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-training-program-delete-title" style="text-align">Удаление записи</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <h4>Вы действительно хотите сделать это?</h4>
      <div class="modal-footer mt-3">
        <div class="d-inline-flex col-12">
          <div class="col-6 me-2">
            <button type="submit" class="w-100 btn btn-outline-success mt-3" (click)="deleteTrainingProgram()">Да</button>
          </div>
          <div class="col-6">
            <button class="w-100 btn btn-outline-danger mt-3" (click)="modal.dismiss()">Нет</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-error-modal #errorModal></app-error-modal>
