<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-training-program-delete-title" style="text-align">Удаление записи</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h4>Вы действительно хотите сделать это?</h4>
    <div class="modal-footer mt-3">
      <button type="submit" class="w-100 btn btn-outline-secondary mt-3" (click)="deleteTrainingProgram()">Да</button>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-secondary shadow" (click)="open(content)"><i class="bi bi-trash"></i></button>
