<div class="container">
  <div class="row ">
    <div class="col-10 col-lg-3 position-absolute top-50 start-50 translate-middle">
      <form class="border border-5 rounded p-3" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h3 class="mb-2">Сброс пароля</h3>
        <div *ngIf="getErrorMessage" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group mt-2">
          <label>Новый пароль</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 required
                 formControlName="password"
                 name="passwordField" />
          <div *ngIf="resetPasswordForm.invalid && submittedClick">
            <div *ngIf="resetPasswordForm.get('password')?.hasError('required')"
                 class="alert alert-danger mt-1">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="(resetPasswordForm.get('password')?.hasError('pattern') || resetPasswordForm.get('password')?.hasError('minlength'))"
                 class="alert alert-danger mt-1">
              Ненадежный пароль<br />
              Пароль должен состоять не менее чем из 6 символов, включая буквы в верхнем и нижнем регистре, содержать хотябы 1 цифру и спецсимвол
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Подтверждение пароля</label>
          <input type="password"
                 class="form-control"
                 id="confirmedPassword"
                 required
                 [(ngModel)]="confirmedPassword"
                 [ngModelOptions]="{standalone: true}"
                 name="confirmedPasswordField" />
          <div *ngIf="confirmedPassword.length === 0 && submittedClick" class="alert alert-danger mt-1">
            Поле обязательно для заполнения
          </div>
          <div *ngIf="!confirmedPasswordResult && submittedClick && confirmedPassword.length > 0" class="alert alert-danger mt-1">
            Пароли не совпадают
          </div>
        </div>
        <button type="submit" class="w-100 btn btn-outline-secondary mt-3" (click)="submittedClick=true">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
