<div class="container">
  <div class="row ">
    <app-loader *ngIf="isLoading">
    </app-loader>
    <div class="col-10 col-lg-3 position-absolute top-50 start-50 translate-middle">
      <form class="border border rounded p-3 bg-dark text-light" [formGroup]="registrationForm" (ngSubmit)="registration()">
        <h3 class="mb-2">Регистрация</h3>
        <div *ngIf="getErrorMessage" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text"
                 class="form-control"
                 id="login"
                 required
                 formControlName="login"
                 name="loginField"
                 placeholder="Введите логин" />
          <div *ngIf="registrationForm.get('login')?.hasError('required') &&
               submittedClick"
               class="alert alert-danger mt-2">
            Поле обязательно для заполнения
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Почта</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 required
                 formControlName="email"
                 name="emailField"
                 placeholder="example@mail.ru" />
          <div *ngIf="registrationForm.invalid && submittedClick">
            <div *ngIf="registrationForm.get('email')?.hasError('required')"
                 class="alert alert-danger mt-2">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="registrationForm.get('email')?.hasError('pattern')"
                 class="alert alert-danger mt-2">
              Введите почту в формате example&#64;mail.ru
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Пароль</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 required
                 formControlName="password"
                 name="passwordField"
                 placeholder="Введите пароль" />
          <div *ngIf="registrationForm.invalid && submittedClick">
            <div *ngIf="registrationForm.get('password')?.hasError('required')"
                 class="alert alert-danger mt-1">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="(registrationForm.get('password')?.hasError('pattern') || registrationForm.get('password')?.hasError('minlength'))"
                 class="alert alert-danger mt-1">
              Ненадежный пароль<br />
              Пароль должен состоять не менее чем из 6 символов, включая буквы в верхнем и нижнем регистре, содержать хотябы 1 цифру и спецсимвол
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Подтверждение пароля</label>
          <input type="password"
                 class="form-control"
                 id="confirmedPassword"
                 required
                 [(ngModel)]="confirmedPassword"
                 [ngModelOptions]="{standalone: true}"
                 name="confirmedPasswordField"
                 placeholder="Подтвердите пароль" />
          <div *ngIf="!confirmedPasswordResult && submittedClick" class="alert alert-danger mt-1">
            Пароли не совпадают
          </div>
        </div>
        <button type="submit" class="w-100 btn btn-outline-secondary mt-3 text-light" (click)="submittedClick=true">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
