<app-loader *ngIf="isLoading">
</app-loader>
  <form class="rounded-3 p-3  body-measure-form" [formGroup]="createForm" (ngSubmit)="addBodyMeasure()">
    <div class="form-group" formArrayName="bodyMeasureSet">
      <div *ngFor="let bodyMeasure of bodyMeasureArray.controls; let i = index" class="body-measure-form-group">
        <div [formGroupName]="i">
          <div class="mx-2 body-measure-form-item-{{i}}">
            <label for="musclesSize-create-form-field"><b class="h3">{{bodyMeasure.get('muscleName')?.value}}</b></label>
            <input type="number"
                    class="form-control"
                    id="musclesSize-create-form-field"
                    formControlName="musclesSize"
                    name="musclesSize-field"
                    step="0.1"
                    min="0" />
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-4 text-dark"><b>Сохранить</b></button>
  </form>
<app-error-modal #errorModal></app-error-modal>
