
<div class="sidebar-mobile-toggle d-flex ms-3"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()">
  <i *ngIf="isMobilePlatform" class="h3 text-white" [class]="isSidebarCollapsed ? 'bi bi-arrow-bar-down' : 'bi bi-arrow-bar-up'"></i>
</div>
<div class="sidebar-mobile" [ngClass]="{ 'sidebar-mobile-collapsed': isSidebarCollapsed }" *ngIf="userData.isLoggedIn && isMobilePlatform">
  <div class="mobile-sidebar-header">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/">Календарь</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/list">Тренировки</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/programs/list">Программы</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/training-result/training-results-list">Результаты</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/body-measure/details-body-measure">Показатели</a>
      </li>
      <li class="sidebar-menu-item" *ngIf="userData.role === 'Admin'">
        <a class="nav-link" routerLink="/user-administration/users-list">Список пользоватлей</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" routerLink="/account/change-user-password">Изменить пароль</a>
      </li>
      <li class="sidebar-menu-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
  </div>


