
.drop-down-menu {
  background-color: #2f2f2f;
}

.sidebar-collapsed{
   
    height: 50px;
}

.sidebar-mobile {
  position: relative;
  color: #ecf0f1;
  height: 180px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-mobile-collapsed {
  height: 0
}

.sidebar-menu-item {
  text-decoration: none;
}

.sidebar-menu-dropdown-item {
  left: 5px;
  bottom: 5px;
  cursor: pointer;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-mobile-toggle {
  position: sticky;
  overflow: visible;
  left: 10px;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.3s ease;
}

.sidebar-menu-item:hover {
  background-color: #646464;
}

.sidebar-menu-item:focus {
  background-color: #646464;
}

