<div class="container">
  <div class="row ">
    <app-loader *ngIf="isLoading">
    </app-loader>
    <div class="col-10 col-lg-3 position-absolute top-50 start-50 translate-middle">
      <form class="border border rounded p-4 text-light change-passowrd-form bg-dark" [formGroup]="changeUserPasswordForm" (ngSubmit)="changeUserPassword() ">
        <h3 class="mb-2">Изменение пароля</h3>
        <hr />
        <div *ngIf="getErrorMessage" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group mt-2">
          <label for="old-change-password">Текущий пароль</label>
          <input type="password"
                 class="form-control"
                 id="old-change-password"
                 required
                 formControlName="oldPassword"
                 name="old-change-password-field"
                 placeholder="Введите текущий пароль" />
          <div *ngIf="changeUserPasswordForm.invalid && submittedClick">
            <div *ngIf="changeUserPasswordForm.get('newPassword')?.hasError('required')"
                 class="alert alert-danger mt-1">
              Поле обязательно для заполнения
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="new-change-password">Новый пароль</label>
          <input type="password"
                 class="form-control"
                 id="new-change-password"
                 required
                 formControlName="newPassword"
                 name="new-change-password-field"
                 placeholder="Введите новый пароль" />
          <div *ngIf="changeUserPasswordForm.invalid && submittedClick">
            <div *ngIf="changeUserPasswordForm.get('newPassword')?.hasError('required')"
                 class="alert alert-danger mt-1">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="(changeUserPasswordForm.get('newPassword')?.hasError('pattern') || changeUserPasswordForm.get('newPassword')?.hasError('minlength'))"
                 class="alert alert-danger mt-1">
              Ненадежный пароль<br />
              Пароль должен состоять не менее чем из 6 символов, включая буквы в верхнем и нижнем регистре, содержать хотябы 1 цифру и спецсимвол
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="confirmed--new-change-password">Подтверждение нового пароля</label>
          <input type="password"
                 class="form-control"
                 id="confirmed--new-change-password"
                 required
                 [(ngModel)]="confirmedPassword"
                 [ngModelOptions]="{standalone: true}"
                 name="confirmed-change-password-field"
                 placeholder="Подтвердите новый пароль" />
          <div *ngIf="confirmedPassword.length === 0 && submittedClick" class="alert alert-danger mt-1">
            Поле обязательно для заполнения
          </div>
          <div *ngIf="!confirmedPasswordResult && submittedClick && confirmedPassword.length > 0" class="alert alert-danger mt-1">
            Пароли не совпадают
          </div>
        </div>
        <button type="submit" class="w-100 btn btn-outline-secondary mt-3 shadow text-light" (click)="submittedClick=true">Изменить пароль</button>
      </form>
    </div>
  </div>
</div>
