<div class="container">
  <div class="row ">
    <app-loader *ngIf="isLoading">
    </app-loader>
    <div class="col-10 col-lg-3 position-absolute top-50 start-50 translate-middle">
      <form class="border border rounded p-3 bg-dark text-light" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <h3 class="mb-2">Сброс пароля</h3>
        <div *ngIf="getErrorMessage" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group mt-2">
          <label for="email">Почта</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 required
                 formControlName="email"
                 name="email-field"
                 placeholder="example@mail.ru" />
          <div *ngIf="forgotPasswordForm.invalid && submittedClick">
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
                 class="alert alert-danger mt-2">
              Поле обязательно для заполнения
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')"
                 class="alert alert-danger mt-2">
              Введите почту в формате example&#64;mail.ru
            </div>
          </div>
        </div>
        <button type="submit" class="w-100 btn btn-outline-secondary mt-3 shadown text-light" (click)="submittedClick=true">Сбросить пароль</button>
      </form>
    </div>
  </div>
</div>
